<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szz.mall.api.mapper.MallIndexConfigMapper">

    <resultMap id="BaseResultMap" type="com.szz.mall.api.entity.MallIndexConfig">
            <id property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="configType" column="config_type" jdbcType="TINYINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="redirectUrl" column="redirect_url" jdbcType="VARCHAR"/>
            <result property="configRank" column="config_rank" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_id,config_name,config_type,
        goods_id,redirect_url,config_rank,
        is_deleted,create_time,create_user,
        update_time,update_user
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_mall_index_config
        where  config_id = #{configId,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_mall_index_config
        where  config_id = #{configId,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.szz.mall.api.entity.MallIndexConfig" useGeneratedKeys="true">
        insert into tb_mall_index_config
        ( config_id,config_name,config_type
        ,goods_id,redirect_url,config_rank
        ,is_deleted,create_time,create_user
        ,update_time,update_user)
        values (#{configId,jdbcType=BIGINT},#{configName,jdbcType=VARCHAR},#{configType,jdbcType=TINYINT}
        ,#{goodsId,jdbcType=BIGINT},#{redirectUrl,jdbcType=VARCHAR},#{configRank,jdbcType=INTEGER}
        ,#{isDeleted,jdbcType=TINYINT},#{createTime,jdbcType=TIMESTAMP},#{createUser,jdbcType=INTEGER}
        ,#{updateTime,jdbcType=TIMESTAMP},#{updateUser,jdbcType=INTEGER}))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.szz.mall.api.entity.MallIndexConfig" useGeneratedKeys="true">
        insert into tb_mall_index_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="configId != null">configId,</if>
                <if test="configName != null">configName,</if>
                <if test="configType != null">configType,</if>
                <if test="goodsId != null">goodsId,</if>
                <if test="redirectUrl != null">redirectUrl,</if>
                <if test="configRank != null">configRank,</if>
                <if test="isDeleted != null">isDeleted,</if>
                <if test="createTime != null">createTime,</if>
                <if test="createUser != null">createUser,</if>
                <if test="updateTime != null">updateTime,</if>
                <if test="updateUser != null">updateUser,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="configId != null">config_id = #{configId,jdbcType=BIGINT},</if>
                <if test="configName != null">config_name = #{configName,jdbcType=VARCHAR},</if>
                <if test="configType != null">config_type = #{configType,jdbcType=TINYINT},</if>
                <if test="goodsId != null">goods_id = #{goodsId,jdbcType=BIGINT},</if>
                <if test="redirectUrl != null">redirect_url = #{redirectUrl,jdbcType=VARCHAR},</if>
                <if test="configRank != null">config_rank = #{configRank,jdbcType=INTEGER},</if>
                <if test="isDeleted != null">is_deleted = #{isDeleted,jdbcType=TINYINT},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="createUser != null">create_user = #{createUser,jdbcType=INTEGER},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="updateUser != null">update_user = #{updateUser,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szz.mall.api.entity.MallIndexConfig">
        update tb_mall_index_config
        <set>
                <if test="configName != null">
                    config_name = #{configName,jdbcType=VARCHAR},
                </if>
                <if test="configType != null">
                    config_type = #{configType,jdbcType=TINYINT},
                </if>
                <if test="goodsId != null">
                    goods_id = #{goodsId,jdbcType=BIGINT},
                </if>
                <if test="redirectUrl != null">
                    redirect_url = #{redirectUrl,jdbcType=VARCHAR},
                </if>
                <if test="configRank != null">
                    config_rank = #{configRank,jdbcType=INTEGER},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createUser != null">
                    create_user = #{createUser,jdbcType=INTEGER},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateUser != null">
                    update_user = #{updateUser,jdbcType=INTEGER},
                </if>
        </set>
        where   config_id = #{configId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szz.mall.api.entity.MallIndexConfig">
        update tb_mall_index_config
        set 
            config_name =  #{configName,jdbcType=VARCHAR},
            config_type =  #{configType,jdbcType=TINYINT},
            goods_id =  #{goodsId,jdbcType=BIGINT},
            redirect_url =  #{redirectUrl,jdbcType=VARCHAR},
            config_rank =  #{configRank,jdbcType=INTEGER},
            is_deleted =  #{isDeleted,jdbcType=TINYINT},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            create_user =  #{createUser,jdbcType=INTEGER},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            update_user =  #{updateUser,jdbcType=INTEGER}
        where   config_id = #{configId,jdbcType=BIGINT} 
    </update>
</mapper>
